<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Déclaration Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="fr.mael.jiwigo.transverse.util.log4j.ConcisePatternLayout">
			<param name="ConversionPattern" value="[Jiwigo] %4d{yyyy-MM-dd HH:mm:ss} %-5p - %l - %m%n" />
		</layout>
	</appender>
	
	<appender name="fichier" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/jiwigo.log" />
		<param name="datePattern" value="'.'dd-MM-yyyy" />
		<param name="Threshold" value="INFO" />
		<layout class="fr.mael.jiwigo.transverse.util.log4j.ConcisePatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c] %m%n" />
		</layout>
	</appender>	


	<!-- Déclaration loggers -->
	<logger name="fr.mael.jiwigo" additivity="false">
		<level value="INFO" />
		<appender-ref ref="console" />
		<appender-ref ref="fichier" />
	</logger>
	


	<root>
		<level value="INFO" />
		<appender-ref ref="console" />
	</root>

</log4j:configuration>